/*
*   Styles for bedc clone
*   created by Umi Ikem - 3/11/2017
*/


/*************************
*******Typography******
**************************/

body {
    font-family: 'Raleway', serif;
    letter-spacing: 1px;
    color:#121212;
}
h1, h2, h3, h4, h5, h6 {
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    color:#bd252b;
}

/*************************
***** General Styles *****
**************************/

:focus {
    outline:none !important;
    outline-offset: 0;
}

a {
    -webkit-transition:all 500ms ease-out;
    -moz-transition:all 500ms ease-out;
    -o-transition:all 500ms ease-out;
    transition:all 500ms ease-out;
}

a:hover
{
    text-decoration: none;
}

/*************************
*** Structural Styles ****
**************************/

ul
{
    padding:0;
}

ul li
{
    list-style:none;
}

table
{
    border-top: 0;
    border-bottom:1px solid #eee;
}
/*************************
***     Top Section   ****
**************************/
header
{
    background-color: rgba(235,235,235,0.9);
}

.logo-container
{
    display:flex;
    padding:1rem;
    justify-content: center;
    align-items: center;
}

/*************************
**** Table  Section   ****
**************************/
.table-container
{
    padding:2rem 0;

}

.disconnection-table
{
    margin-top:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disconnection-table .table
{
    width:auto;
    color:#121212;
}

table th:first-child{
    border-radius:10px 0 0 0;
}

table th:last-child{
    border-radius:0 10px 0 0;
}

.table td:last-of-type
{
    color:#bd252b;
}

.disconnection-table .thead
{
    background-color: #bd252b;
    color:white;
}



.state-list .fa-arrow-circle-right,
.disconnection-table .fa-circle
{
    color: #bd252b;
}

img.flash
{
    max-width:15px;
    max-height:15px;
    margin-right:0.4rem;
}

/*************************
**  State List Section  **
**************************/
.list-container
{
    background: linear-gradient(135deg, rgba(142,158,171,0.3) 0%,
    rgba(171,183,193,0.3) 51%,
    rgba(206,214,219,0.3) 71%,
    rgba(237,241,242,0.3) 100%);
    padding:1.5rem;
}

.state-list
{
    display:flex;
    justify-content: center;
    align-content: center;
}


.state-list .fa-arrow-circle-right
{
    margin-right:0.5rem;
}

.state-list ul
{
    margin-top:1rem;
}

.state-list ul li {
    margin-bottom: 0.7rem;
    font-weight: bold;
}


/*************************
****   Footer Section  ***
**************************/

footer
{
    background: linear-gradient(135deg, rgba(240,0,0,1) 0%,
    rgba(232,16,13,1) 51%, rgba(225,30,23,1) 71%,
    rgba(220,39,29,1) 100%);
    color:white;
    padding:1rem;
}

footer h3
{
    color:white;
    margin-bottom:1rem;
}


.footer-icons
{
    max-width:20px;
    max-height:20px;
}

.footer-content
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-content ul li
{
    display:inline;
    margin-right:0.4rem;
}