/*
*   Styles for bedc clone
*   created by Umi Ikem - 3/11/2017
*/


/*************************
*******Typography******
**************************/

body {
    font-family: 'Raleway', serif;
    letter-spacing: 1px;
    color:#121212;
}
h1, h2, h3, h4, h5, h6 {
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    color:#bd252b;
}

/*************************
***** General Styles *****
**************************/

:focus {
    outline:none !important;
    outline-offset: 0;
}

a {
    -webkit-transition:all 500ms ease-out;
    -moz-transition:all 500ms ease-out;
    -o-transition:all 500ms ease-out;
    transition:all 500ms ease-out;
}

a:hover
{
    text-decoration: none;
}

/*************************
*** Structural Styles ****
**************************/

ul
{
    padding:0;
}

ul li
{
    list-style:none;
}


/*************************
***     Top Section   ****
**************************/
header
{
    background-color: rgba(235,235,235,0.9);
}

.logo-container
{
    display:flex;
    padding:1rem;
    justify-content: center;
    align-items: center;
}

/*************************
**** Table  Section   ****
**************************/
.table-container
{
    padding:2rem 0;

}

.disconnection-table
{
    margin-top:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disconnection-table .table
{
    width:auto;
    color:#121212;
}

table th:first-child{
    border-radius:10px 0 0 0;
}

table th:last-child{
    border-radius:0 10px 0 0;
}

.table td:last-of-type
{
    color:#bd252b;
}

.disconnection-table .thead
{
    background-color: #bd252b;
    color:white;
}

.disconnection-table .fa-circle
{
    color: #bd252b;
}

img.flash
{
    max-width:15px;
    max-height:15px;
    margin-right:0.4rem;
}